@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #fdf8e1   ;
    --secondary-color: #263940 ;
    --accent1-color: #e09f3e;
    --accent2-color: #BF372A;

    --font-heading: 'Open Sans', Raleway, Verdana, sans-serif;
    --font-subheading: 'Open Sans', Raleway, Verdana, sans-serif;
    --font-subheading2: 'Open Sans', Raleway, Verdana, sans-serif;
    --font-paragraph: 'Open Sans', Raleway, Verdana, sans-serif;

    --headline-color-on-white: #263940;  /* headlines on a white background */ 
    --headline-color-on-color: #fdf8e1; /* headlines on a colored background */ 
    --paragraph-color-on-white: #263940; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #fdf8e1; /* paragraph text on a colored background */ 
    --paragraph-background-color: #263940  ;
    --nav-link-color: #263940;
    --nav-background-color: #e09f3e;
    --nav-hover-link-color: #fdf8e1;
    --nav-hover-background-color: #263940;
  }

#content {
    max-width: 1600px;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
}

nav a
#hero-msg h1, #hero-msg h4
.button-box
main section {
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
}

#background {
    height: 725px;
}

header, footer {
    background-color: #263940;
    color: #fff;
}

nav a:hover {
    background-color:  #263940;
    color: #fff;
}

.book, .join
.book:hover, .join:hover {
    background-color: #fdf8e1;
    color: #000;
}

#background
.msg {
    background-color: var(--nav-background-color);
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}  

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
} 

.logo {
    width: 10rem;
}

p {
    font-family: var(--font-paragraph);
}

h1, h2, h3 {
    font-family: var(--font-heading);
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

.book, .join {
    font-size: 8px;
}

.msg p {
    font-size: .8em;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }

  body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

#logo_link {
padding-top: 5px;
}

.book, .join {
    padding: 15px 30px;
}   

.icon {
    padding-top: 10px;
}

.msg {
    padding: 35px;
}

.msg p{
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
}

footer .social img {
    padding-top: 15px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.home-title {
    margin-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    margin-top: 200px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}